<div class="container my-5 height">
  <div class="title-border">
    <h2 class="font">会員一覧</h2>
  </div>
  <table class="table mt-3">
    <thead>
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
        </tr>
    </thead>
    <tbody>
      <% @members.each do |member| %>
        <tr>
          <td><%= member.id %></td>
          <td><%= link_to member.last_name + "　"  + member.first_name,admin_member_path(member) %></td>
          <td><%= member.email %></td>
          <td>
            <% if member.is_deleted == false %>
              <p class="text-success">有効</p>
            <% else %>
              <p class="text-danger">無効</p>
            <% end %>
          </td>
        </tr>
      <% end %>
      <%= paginate @members %>
    </tbody>
  </table>
</div>