<div class="container my-5 height">
  <h2 class="font title-border pb-1">ジャンル編集</h2>
  <div class="row mt-5">
    <%= form_with model:@genre, url: admin_genre_path, local:true, class: "form-inline" do |f| %>
      <div class="form-group">
        <%= f.label :name, 'ジャンル', class: 'col-sm-4 col-form-label' %>
        <div class="col-sm-8">
          <%= f.text_field :name, class: "form-control w-100" %>
        </div>
      </div>
      <%= f.submit "変更を保存する", class: "btn btn-success ml-5" %>
    <% end %>
  </div>
</div>
